:root {
  // accent colors
  --vp-c-accent: #8D282E;
  --vp-c-accent-bg: #5e0e13;
  --vp-c-accent-hover: #6a1319;
  --vp-c-accent-text: var(--vp-c-white);
  --vp-c-accent-soft: rgba(185, 14, 14, 0.14);
}
